.fc-event {
    background-color: #1f2937;
    color: #fff;
    padding: 5px;
    margin-bottom: 5px;
}

.fc-event:hover {
    background-color: #374151;
}

.fc-daygrid-day-frame {
    max-height: 2rem;
    overflow-y: auto;
}

.fc-daygrid-day-frame::-webkit-scrollbar-thumb {
    background-color: #fff;
}

.fc-daygrid-day-frame::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

